[submodule "cakephp"]
	path = cakephp
	url = git://github.com/cakephp/cakephp.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = git@github.com:h4ck3rm1k3/debug_kit.git
[submodule "sources/us-zip-codes"]
	path = sources/us-zip-codes
	url = https://github.com/jonmagic/us-zip-codes
[submodule "sources/nominatim"]
	path = sources/nominatim
	url = git@github.com:h4ck3rm1k3/Nominatim.git
[submodule "sources/civicrm"]
	path = sources/civicrm
	url = git@github.com:h4ck3rm1k3/civicrm-core.git
[submodule "sources/ushahidi"]
	path = sources/ushahidi
	url = git@github.com:h4ck3rm1k3/Ushahidi_Web.git
[submodule "sources/osm-rails"]
	path = sources/osm-rails
	url = git@github.com:h4ck3rm1k3/openstreetmap-website.git
[submodule "sources/mediawiki"]
	path = sources/mediawiki
	url = https://gerrit.wikimedia.org/r/p/mediawiki/core.git
[submodule "app/Plugin/Filter"]
	path = app/Plugin/Filter
	url = git@github.com:h4ck3rm1k3/cakephp-filter-plugin.git
[submodule "app/Plugin/CakeOSM"]
	path = app/Plugin/CakeOSM
	url = git@github.com:h4ck3rm1k3/CakeOSM.git
[submodule "app/Plugin/Tools"]
	path = app/Plugin/Tools
	url = https://github.com/h4ck3rm1k3/cakephp-tools.git
[submodule "app/webroot/js/openlayers"]
	path = app/webroot/js/openlayers
	url = git@github.com:h4ck3rm1k3/openlayers.git
[submodule "app/Plugin/FileManager"]
	path = app/Plugin/FileManager
	url = https://github.com/shahonseven/FileManager.git
[submodule "app/webroot/js/jquery"]
	path = app/webroot/js/jquery
	url = git@github.com:h4ck3rm1k3/jquery.git
